# Contains the list of modules to be loaded / unloaded by /etc/init.d/dahdi.
#
# NOTE:  Please add/edit /etc/modprobe.d/dahdi or /etc/modprobe.conf if you 
#        would like to add any module parameters.
#
# Format of this file: list of modules, each in its own line. 
# Anything after a '#' is ignore, likewise trailing and leading
# whitespaces and empty lines.

# Digium TE205P/TE207P/TE210P/TE212P: PCI dual-port T1/E1/J1
# Digium TE405P/TE407P/TE410P/TE412P: PCI quad-port T1/E1/J1
# Digium TE220: PCI-Express dual-port T1/E1/J1
# Digium TE420: PCI-Express quad-port T1/E1/J1
wct4xxp

# Digium TE435
# Digium TE235
# Digium TE436
# Digium TE236
wcte43x

# Digium TE120P: PCI single-port T1/E1/J1
# Digium TE121: PCI-Express single-port T1/E1/J1
# Digium TE122: PCI single-port T1/E1/J1
wcte12xp

# Digium TE131: PCI-Express single-port T1/E1/J1
# Digium TE132: PCI single-port T1/E1/J1
# Digium TE133: PCI-Express single-port T1/E1/J1 with hardware echocan
# Digium TE134: PCI single-port T1/E1/J1 with hardware echocan
wcte13xp

# Digium T100P: PCI single-port T1
# Digium E100P: PCI single-port E1
wct1xxp

# Digium TE110P: PCI single-port T1/E1/J1
wcte11xp

# Digium TDM2400P/AEX2400: up to 24 analog ports
# Digium TDM800P/AEX800: up to 8 analog ports
# Digium TDM410P/AEX410: up to 4 analog ports
wctdm24xxp

# Digium A4A/A4B/A8A/A8B
wcaxx

# X100P - Single port FXO interface
# X101P - Single port FXO interface 
wcfxo

# Digium TDM400P: up to 4 analog ports
wctdm

# Digium B410P: 4 NT/TE BRI ports
# Digium B433P: 4 NT/TE BRI ports pci-e 
# Digium B434P: 4 NT/TE BRI ports
# Digium B233P: 2 NT/TE BRI ports pci-e 
# Digium B234P: 2 NT/TE BRI ports
wcb4xxp

# Digium TC400B: G729 / G723 Transcoding Engine
wctc4xxp

# Xorcom Astribank Devices
xpp_usb

