<!--
 ~ MikoPBX - free phone system for small business
 ~ Copyright © 2017-2025 Alexey Portnov and Nikolay Beketov
 ~
 ~ This program is free software: you can redistribute it and/or modify
 ~ it under the terms of the GNU General Public License as published by
 ~ the Free Software Foundation; either version 3 of the License, or
 ~ (at your option) any later version.
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 ~ GNU General Public License for more details.
 ~
 ~ You should have received a copy of the GNU General Public License along with this program.
 ~ If not, see <https://www.gnu.org/licenses/>.
  -->

 <phpunit bootstrap="../../vendor/autoload.php">
    <testsuites>
        <testsuite name="TestMikoPBXPasswords">
            <file>Tests/ChangeWeakPasswordTest.php</file>
        </testsuite>

        <testsuite name="DeleteAllSettingsTest">
            <file>Tests/DeleteAllSettingsTest.php</file>
        </testsuite>

        <testsuite name="PBXSettings">
            <file>Tests/FillDataTimeSettingsTest.php</file>
            <file>Tests/ChangeLicenseKeyTest.php</file>
            <file>Tests/FillPBXSettingsTest.php</file>
            <file>Tests/CustomFileChangeTest.php</file>
        </testsuite>

        <testsuite name="StorageRetentionPeriod">
            <file>Tests/StorageRetentionPeriodTest.php</file>
        </testsuite>

        <testsuite name="AudioFilesBeforeCreate">
            <file>Tests/CheckDropdownBeforeCreateAudioFileTest.php</file>
        </testsuite>

        <testsuite name="AudioFiles">
            <directory>Tests/AudioFiles</directory>
        </testsuite>

        <testsuite name="AudioFilesAfterCreate">
            <file>Tests/CheckDropdownAfterCreateAudioFileTest.php</file>
            <file>Tests/DeleteAudioFileTest.php</file>
            <file>Tests/CheckDropdownAfterDeleteAudioFileTest.php</file>
        </testsuite>

        <testsuite name="ConferenceRooms">
            <directory>Tests/ConferenceRooms</directory>
        </testsuite>

        <testsuite name="DialplanApplications">
            <directory>Tests/DialplanApplications</directory>
        </testsuite>

        <testsuite name="Extensions">       
            <directory>Tests/Extensions</directory>
        </testsuite>

         <testsuite name="ExtensionsAfterCreate">
            <file>Tests/ChangeExtensionsSettingsTest.php</file>
            <file>Tests/DeleteExtensionTest.php</file>
            <file>Tests/DeleteExtensionFromDropDownTest.php</file>
            <file>Tests/CheckDropdownsOnAddExtensionsTest.php</file>
        </testsuite>

        <testsuite name="Providers">
            <directory>Tests/SIPProviders</directory>
            <directory>Tests/IAXProviders</directory>
        </testsuite>

        <testsuite name="ProvidersAfterCreate">
            <file>Tests/DeleteProviderTest.php</file>
        </testsuite>

        <testsuite name="IncomingCallRulesBeforeCreate">
            <file>Tests/CreateDefaultIncomingCallRule.php</file>
        </testsuite>

        <testsuite name="IncomingCallRules">  
            <directory>Tests/IncomingCallRules</directory>
        </testsuite>

        <testsuite name="OutgoingCallRules">
            <directory>Tests/OutgoingCallRules</directory>
        </testsuite>

        <testsuite name="Out Of Work Periods">
            <directory>Tests/OutOfWorkPeriods</directory>
        </testsuite>
        
        <testsuite name="Call Queues">
            <directory>Tests/CallQueues</directory>
        </testsuite>

        <testsuite name="Call Queues After Create">
            <file>Tests/ChangeCallQueueTest.php</file>
            <file>Tests/CheckDropdownsOnDeleteQueueTest.php</file>
        </testsuite>

        <testsuite name="IVR Menu">
            <directory>Tests/IVRMenus</directory>
        </testsuite>

        <testsuite name="MOHFiles">
            <directory>Tests/MOHFiles</directory>
        </testsuite>

        <testsuite name="AMI Users">
            <directory>Tests/AMIUsers</directory>
        </testsuite>

        <testsuite name="OtherTestMikoPBX">
            <file>Tests/NetworkInterfacesTest.php</file>
        </testsuite>

        <testsuite name="NetworkSettings">
            <file>Tests/CreateFail2BanRulesTest.php</file>
            <directory>Tests/FirewallRules</directory>
        </testsuite>
        
        <testsuite name="PBXExtensions"> 
            <directory>Tests/PBXExtensions</directory>
        </testsuite>

    </testsuites>
</phpunit>