{
    "server": "hub-cloud.browserstack.com",
    "capabilities": {
        "project": "MikoPBX",
        "build": "MikoPBXTest",
        "name": "local_test",
        "os": "Windows",
        "resolution": "1680x1050",
        "acceptSslCerts": true,
        "acceptInsecureCerts": true,
        "fixSessionCapabilities": true,
        "remoteFiles": true,
        "browserName": "Chrome",
        "browserstack.webdriver": {
                    "timeout_options": {
                      "timeout": 15000,
                       "retry_attempts": 3
                    },
                    "keep_alive": true,
                    "start_process": false
                  },
        "browserstack.debug": false,
        "browserstack.local": false,
        "browserstack.console": "verbose",
        "browserstack.networkLogs": true,
        "browserstack.chrome": {
            "extends": "browserstack",
            "desiredCapabilities": {
                "browserName": "chrome",
                "goog:chromeOptions": {
                    "w3c": true
                }
            }
        }
    },
    "MIKO_LICENSE_KEY": "",
    "SSH_RSA_KEYS_SET": "",
    "environments": [
        {
            "browser": "chrome",
            "browserVersion": "latest",
            "chromeOptions": {
                "args": [
                    "--start-maximized",
                    "--no-sandbox"
                ],
                "perfLoggingPrefs": {
                    "enableNetwork": false
                }
            }
        }
    ]
}