{
  "server": "hub-cloud.browserstack.com",
  "capabilities": {
    "project": "MikoPBX",
    "build": "MikoPBXTest",
    "name": "local_test",
    "os" : "Windows",
    "resolution" : "1280x1024",
    "acceptSslCerts": true,
    "fixSessionCapabilities": true,
    "remoteFiles": true,
    "browserstack.networkLogs": true,
    "seleniumVersion": "4.0.0",
    "browserName": "Chrome",
    "browserstack.local": true
  },
	"MIKO_LICENSE_KEY": "",
  "environments": [{
    "browser": "chrome"
  }]
}
