{
    "server": "hub-cloud.browserstack.com",
    "capabilities": {
        "project": "MikoPBX",
        "build": "MikoPBXTest",
        "name": "local_test",
        "os": "Windows",
        "resolution": "1680x1050",
        "acceptSslCerts": true,
        "acceptInsecureCerts": true,
        "fixSessionCapabilities": true,
        "remoteFiles": true,
        "seleniumVersion": "4.0.0",
        "browserName": "Chrome",
        "browserstack": {
            "networkLogs": true,
            "networkLogsOptions": {
                "captureContent": true
            },
            "console": "verbose",
            "local": false,
            "debug": true,
            "webdriver": {
                    "timeout_options": {
                      "timeout": 15000,
                       "retry_attempts": 3
                    },
                    "keep_alive": true,
                    "start_process": false
                  }
        },
        "browserstack.chrome": {
            "extends": "browserstack",
            "desiredCapabilities": {
                "browserName": "chrome",
                "goog:chromeOptions": {
                    "w3c": true
                }
            }
        }
    },
    "MIKO_LICENSE_KEY": "",
    "environments": [
        {
            "browser": "chrome",
            "browserVersion": "latest",
            "chromeOptions": {
                "args": [
                    "incognito",
                    "--start-maximized",
                    "--no-sandbox"
                ],
                "perfLoggingPrefs": {
                    "enableNetwork": false
                }
            }
        }
    ]
}