.slides {
    background: white;
    /* must have height set */
    height: 20rem;
    width: 100%;
    overflow: hidden;
    .angle {
        color: lightblue;
        cursor: pointer;
        position: relative;
        top: calc(50% - 20px);
        transform: scale(1);
        transition: all .2s ease-in-out;
        z-index: 10;
        &:hover {
            transform: scale(1.7);
        }
        &.right {
            float: right;
            margin-right: 1rem;
        }
        &.left {
            float: left;
            margin-left: 1rem;
        }
    }
    .slide {
        height: 100%;
        padding: 2rem 5rem;
        transition: all .2s ease-in-out;
        &:not(.active) {
            display: none;
        }
        &.inverted {
            color: white;
        }
        &.shadow {
            text-shadow: 1px 1px 2px black;
        }
        &.image {
            background: url('https://c1.staticflickr.com/8/7371/12387240074_536af0b877.jpg') no-repeat center center fixed;
            background-size: cover;
        }
        &.salmon {
            background: salmon;
        }
    }
}

/* add .faded to .slide for fade-in */
.faded {
   animation: fade .5s;
}

.blurred {
    animation: blur .4s;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes blur {
    from { filter: blur(5px); }
    to { filter: blur(0); }
}